body {
    background-color: #222;
    color: #d1d1d1;
    font-size: 16px;
    font-family: Inconsolata, "Courier New", monospace;
}

.zoona-heading {
    font-family: VT323, "Courier New", monospace;
    font-size: 3.5em;
}

.status-table {
    max-width: 800px;
    margin: auto;
}

td, th {
    padding: 15px 15px !important;
    border: 2px solid #222 !important;
    vertical-align: middle;
}

th {
    color: rgba(238, 238, 238, 0.51);
}

.led-cell {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0 0 0 20px;
}

.comment-cell {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

html, body {
    height: 100%;
}

.main-content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 100px;
}

.footer {
    text-align: center;
    width: 100%;
    position: relative;
    clear: both;
    margin-top: -100px;
}

.led {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}

.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
    background-color: #06F;
    box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

.container tr:nth-child(odd) {
    background-color: #2f2f2f;
}

.container tr:nth-child(even) {
    background-color: #2f2f2f;
}

#space-invader {
    margin: 50px auto 0px auto;
    width: 0px;
    height: 0px;
    font-size: 4px;
    box-shadow: 3em 0 0 .5em #d1d1d1, 10em 0 0 .5em #d1d1d1,
    4em 1em 0 .5em #d1d1d1, 9em 1em 0 .5em #d1d1d1,
    3em 2em 0 .5em #d1d1d1, 4em 2em 0 .5em #d1d1d1, 5em 2em 0 .5em #d1d1d1, 6em 2em 0 .5em #d1d1d1, 7em 2em 0 .5em #d1d1d1, 8em 2em 0 .5em #d1d1d1, 9em 2em 0 .5em #d1d1d1, 10em 2em 0 .5em #d1d1d1,
    2em 3em 0 .5em #d1d1d1, 3em 3em 0 .5em #d1d1d1, 5em 3em 0 .5em #d1d1d1, 6em 3em 0 .5em #d1d1d1, 7em 3em 0 .5em #d1d1d1, 8em 3em 0 .5em #d1d1d1, 10em 3em 0 .5em #d1d1d1, 11em 3em 0 .5em #d1d1d1,
    1em 4em 0 .5em #d1d1d1, 2em 4em 0 .5em #d1d1d1, 3em 4em 0 .5em #d1d1d1, 4em 4em 0 .5em #d1d1d1, 5em 4em 0 .5em #d1d1d1, 6em 4em 0 .5em #d1d1d1, 7em 4em 0 .5em #d1d1d1, 8em 4em 0 .5em #d1d1d1, 9em 4em 0 .5em #d1d1d1, 10em 4em 0 .5em #d1d1d1, 11em 4em 0 .5em #d1d1d1, 12em 4em 0 .5em #d1d1d1,
    1em 5em 0 .5em #d1d1d1, 3em 5em 0 .5em #d1d1d1, 4em 5em 0 .5em #d1d1d1, 5em 5em 0 .5em #d1d1d1, 6em 5em 0 .5em #d1d1d1, 7em 5em 0 .5em #d1d1d1, 8em 5em 0 .5em #d1d1d1, 9em 5em 0 .5em #d1d1d1, 10em 5em 0 .5em #d1d1d1, 12em 5em 0 .5em #d1d1d1,
    1em 6em 0 .5em #d1d1d1, 3em 6em 0 .5em #d1d1d1, 10em 6em 0 .5em #d1d1d1, 12em 6em 0 .5em #d1d1d1,
    4em 7em 0 .5em #d1d1d1, 5em 7em 0 .5em #d1d1d1, 8em 7em 0 .5em #d1d1d1, 9em 7em 0 .5em #d1d1d1;
    background: 0;
}



